* {
	margin: 0;
	padding: 0;
}
body {
	font-family: arial;
	width: 100%;
	height: 100vh;
	background-color: #000;
	box-sizing: border-box;
	position: relative;
}

.contentSection {
	width: 350px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	box-sizing: border-box;
	padding: 40px 20px;
}

.contentSection h1 {
	font-size: 25px;
	color: #333;
	text-align: center;
}

.roundDiv {
	width: 100%;
	height: 170px;
	box-sizing: border-box;
}
.roundDiv p {
	text-align: center;
	font-size: 40px;
	color: #333;
	line-height: 200px;
}

.onOffBtn {
	text-align: center;
	width: 100%;
	height: 120px;
	position: relative;
}
.onOffBtn button {
	padding: 10px;
	font-size: 40px;
	border-radius: 5px;
	border: 1px solid #333;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	overflow: hidden;
	color: #fff;
	border: none;
	outline: none;
	position: absolute;
	cursor: pointer;
	left: 50%;
	top: 50%;
	background-color: #D01616;
	transform: translate(-50%, -50%);
}
.onOffBtn button:active {
	background-color: #c53b3b;
}
.resetBtn {
	text-align: center;
	width: 100%;
	height: 50px;
}
.resetBtn button {
	padding: 10px;
	font-size: 20px;
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
	margin-top: 20px;
	color: #333;
	background-color: #3332;
}

.fa-play {
	margin-left: 5px;
	margin-top: 5px;
}
.resetBtn button:active {
	background-color: #3335;
}

#timeMS {
	font-size: 25px;
}

.disNone {
	display: none;
}


